//COLOR VARIABLES
$color-primary: #1c2541;
$color-primary-dark: #0b132b;
$color-primary-light: #3a506b;
$color-primary-lighter: #456393;


$color-secondary: #513d36;
$color-secondary-light: #655b51;


$color-tertiary: #34c749;
$color-tertiary-light: #90dd99;


$color-grey: #656672;
$color-grey-one: #f7f7f7;
$color-grey-two: #eee;


$color-white: #ffffff;
$color-black: #000000;


//FONT SIZES
$default-font-size: 1.6rem;
$default-font-size-two: 1.5rem;


//GRID VARIABLES
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
